body{
    background-image: url("nihao.jpg");
    text-align: center;
}
h1{
    color: white;
    font-size: 69px;
}
button{
    background-image: url("bingxiling.jpg");
    background-size: contain;
    width: 115px;
    height: 115px;
    color: white;
    resize: inherit;
}
p{
    color: white;
    font-size: 37px;
}